body {
    padding: 0 50px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
header {   
    background: repeating-linear-gradient(#8f8fa3,#454554); 
    color:#ffffff;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    text-shadow: -2px 2px 2px #000000;
    border-radius: 10px;
}

nav {
    float:left;
    padding-right: 50px;
    padding-bottom: 20px;
    overflow: hidden;
}
article {
    margin-left: 160px;
    padding-left: 30px;
    border-left: 1px solid #454554;
    
}
.image-container {
    float: right;
    margin: 20px;
}
img{
    max-width: 100%;
    height: auto;
}
footer {
    color: #ffffff;
    text-shadow: -2px 2px 2px #000000;
    clear: both;
    background: repeating-linear-gradient(#8f8fa3,#454554); 
    padding: 4px;
    border-radius: 10px;
}
.interactive-button {
    color: #ffffff;
    margin-top:5px;
    padding: 5px;
    text-align: left;
    text-indent: 5px;
    text-shadow: -2px 2px 2px #000000;
    font-size: 1em;
    width: 100%;
    height: 20px;
    background: repeating-linear-gradient(#ff6666, #990000);
    border-radius: 10px;
    animation-name: example;
    animation-duration: 4s;
}
#rotated {
    transform: rotate(10deg);
    margin-top: 20px;
    margin-bottom: 20px;
}
.interactive-button:hover {
    color: #808080;
    background: repeating-linear-gradient(#ff6666,#660000);
}
#block-wrapper div {
    height: 50px;
    width: 100px;
    color: #ffffff;
    padding-top: 25px;
    vertical-align: middle;
    text-align: center;
    background: repeating-linear-gradient(#ff6666,#660000);
    margin-top: 10px;   
}
#block-wrapper div:hover {
    box-shadow: 2px 2px 4px #C0C0C0;  
}
/*Animations*/

@keyframes bumerang {
    0% { -webkit-animation-timing-function: ease-in-out; }
    2% {-webkit-transform: translateX(5px) translateY(10px); -webkit-animation-timing-function: ease-in-out; }
    5% {-webkit-transform: translateX(0px) translateY(0px); -webkit-animation-timing-function: ease-in-out;}
    50% {-webkit-transform: translateX(800px) rotate(180deg); box-shadow: 10px 10px 15px #333; -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out;}
    100% {-webkit-transform: translateX(0px) rotate(0deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out;}
}
@keyframes rocket {
    0% { opacity: 1; }
    30% {-webkit-transform: translateX(500px);}
    40% {-webkit-transform: translateX(600px);opacity: 0;}
    100% {-webkit-transform: translateX(0px);opacity: 0;}
}

@keyframes jump {
    0% { opacity: 0; }
    5% { opacity: 0.5;}
    15% {-webkit-transform: translateX(50px) translateY(-400px); opacity: 1; transition-timing-function: ease-in-out;}
    100% {-webkit-transform: translateX(100px) translateY(0);}
}

@keyframes spin {
    0% { opacity: 1; }
    100% {-webkit-transform: rotate(2000deg); }
}

.bumerang {
    -webkit-animation: bumerang 4s;
}

.rocket {
    -webkit-animation: rocket 4s;
}

.spin {
    -webkit-animation: spin 4s;
}

.jump {
    -webkit-animation: jump 4s;
}

